$displayFont: 'Quicksand', sans-serif;
$defaultFont: 'Lato', sans-serif;

$white: #fff;
$black: #4A4A4A;
$gray: #ccc;
$gray-dark: #999;
$red: #C8292D;
$blue: #224D7E;
$peach: #FFE8CE;
$orange: #FB841C;
$green: #1B673F;
$green-dark: #1A432D;

$primary-color: $gray;
$secondary-color: $red;
$tertiary-color: $black;

