footer.footer
    .container
        .sectionHeading <span>W</span>e <span>L</span>ook <span>F</span>orward to <span>H</span>osting <span>Y</span>ou!

        .row
            .col-sm-6
                .unititem
                    a.hidden-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor") Book Now on AirBnB
                    a(href="/balboa-red.html")
                        .unititem__imgWrapper
                            img(src="/img/red-door.jpg" class="img-responsive")
                        h2.unititem__title Resort Style Cottage
                        div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                    a.visible-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor") Book Now on AirBnB


            .col-sm-6
                .unititem
                    a.hidden-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor") Book Now on AirBnB
                    a(href="/balboa-blue.html")
                        .unititem__imgWrapper
                            img(src="/img/blue-door.jpg" class="img-responsive")
                        h2.unititem__title Resort Style Cottage
                        div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                    a.visble-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor") Book Now on AirBnB

            .col-sm-6
                .unititem
                    a.hidden-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/23539676" target="grand-family") Book Now on AirBnB
                    a(href="/grand-family.html")
                        .unititem__imgWrapper
                            img(src="/img/grand-family.jpg" class="img-responsive")
                        h2.unititem__title Family Getaway Cottage
                        div.unititem__address Grand Avenue <br>San Diego, CA 92109
                    a.visible-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/23539676" target="grand-family") Book Now on AirBnB


            .col-sm-6
                .unititem
                    a.hidden-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/24022164" target="grand-beach") Book Now on AirBnB
                    a(href="/grand-beach.html")
                        .unititem__imgWrapper
                            img(src="/img/grand-beach.jpg" class="img-responsive")
                        h2.unititem__title Beach Getaway Cottage
                        div.unititem__address Grand Avenue <br>San Diego, CA 92109
                    a.visible-xs.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/24022164" target="grand-beach") Book Now on AirBnB



                    //- a.btn.btn-blue.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" ) Book Now on AirBnB

                    //- a.btn.btn-red.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor" ) Book Now on AirBnB
            .col-sm-12
                p Please feel free to contact us with any questions.
                p
                    a(class="footer__link" href="mailto:pacificbeachvacations@gmail.com") pacificbeachvacations@gmail.com

            .col-sm-12
                div.footer__sealPbtc
                    img(src="/img/pbtc-logo.png" class="")
                    span Pacific Beach<br> Town Council Member
                div.footer__sealSuperhost
                    img(src="/img/superhost-icon.png" class="")
                    span AirBnB<br> Superhost


                    //- div(class="airbnb-embed-frame"
                    //-     data-user-id="118282318"
                    //-     data-view="superhost_button"
                    //-     data-city="San Diego"
                    //-     data-city-url="https://www.airbnb.com/s/San-Diego--CA"
                    //-     data-eb="1485311224_FRRVyEWZ/e4PLXcM"
                    //-     data-eu="f2O0oKn1HkvisHbn0LJOvRthix1gqJrQT9j4MhZ3g84pyRkmS8bBxwmrCXjGMWlLgrRjgPqhTARXsD/b5JewZL1RTAB0p6/VXEP0kjeasalmcJj3SudCYj/H Dcrj4DzaB1zjncwDN9FQrgf8suRtUBnkU1DjgNodSL5uZHNo1+K6CFRye5yft9KH9L/vCDL2G/63X9KtFEz7wdknmkV5P7RG3iicpIwV42QgGHWOh8oVGY1RSr7/c2b+RbUQ763WVPfVxHEP5B1NPYvIEw4zxhrxDb21xSJJhYV94B1DyPoYXFK8KdPXl+NiNbYdAN5NEsxjRgAPdR5qIFDh55tq6Q=="
                    //-     data-trigger-source-type="badge_center"
                    //-     data-embed-source-type="badge_center"
                    //-     style="margin:auto;height:85px;")
                    //-         a(href="https://www.airbnb.com/users/show/118282318" rel="nofollow") Superhost
                    //-             div in San Diego
                    //-         <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
                //- div.footer__sealReviews
                //-     <div class="airbnb-embed-frame" data-user-id="118282318" data-review-count="34" data-view="review_button" data-eb="1485311224_FRRVyEWZ/e4PLXcM" data-eu="f2O0oKn1HkvisHbn0LJOvRthix1gqJrQT9j4MhZ3g84pyRkmS8bBxwmrCXjG MWlLgrRjgPqhTARXsD/b5JewZL1RTAB0p6/VXEP0kjeasalmcJj3SudCYj/H Dcrj4DzaB1zjncwDN9FQrgf8suRtUBnkU1DjgNodSL5uZHNo1+K6CFRye5yf t9KH9L/vCDL2G/63X9KtFEz7wdknmkV5P7RG3iicpIwV42QgGHWOh8oVGY1R Sr7/c2b+RbUQ763WVPfVxHEP5B1NPYvIEw4zxhrxDb21xSJJhYV94B1DyPoY XFK8KdPXl+NiNbYdAN5NEsxjRgAPdR5qIFDh55tq6Q== " data-trigger-source-type="badge_center" data-embed-source-type="badge_center" style="height:80px;margin:auto;"><a href="https://www.airbnb.com/users/show/118282318"><span>Reviews</span></a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>
