header.header
    .container
      .row
        h1
            img(src="/img/palm-tree.svg")
            <span>T</span>he <span>P</span>acific <span>B</span>each <span>C</span>ottages
            img(src="/img/palm-tree.svg")
