extends layout

block content
  main.single
        section
            .container
                .row
                    .col-md-10.col-md-offset-1
                        .singleMain
                            h2.singleMain__title Resort Style Cottage
                            div.singleMain__address Balboa Avenue <br>San Diego, CA 92109
                            img(src="/img/blue-door-full.jpg" class="singleMain__img img-responsive center-block")
                            a.singleMain__btn.btn.btn-orange(href="https://www.airbnb.com/rooms/19663998" target="reddoor") Book Now on AirBnB
                            p.singleMain__desc This pristine 1 bed 1 bath resort-style cottage is located in the heart of Pacific Beach, San Diego. The cottage features a full kitchen and private backyard. Amenities include wifi, a washer and dryer, two smart TVs, a bluetooth speaker, and much more. The cottage is a short 1.5 mile walk away from the beach, and the rental includes bikes along with boogie boards, towels, and other beach necessities.

        section.singleFeatures
            .container
                .sectionHeading <span>C</span>ottage <span>F</span>eatures

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Private Courtyard
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/courtyard-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-5.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Keyless entry
                                    em No need for keys here. Just remember your code.

                                li
                                    strong Outdoor furniture
                                    em Relax in the sun or shade on comfortable outdoor furniture

                                li
                                    strong Outdoor shower
                                    em Rinse the sand off after a day at the beach

                                li
                                    strong Herb garden
                                    em Pick from a variety of herbs in our herb garden

                                li
                                    strong Toy Box
                                    em Filled with everything you could need for a fun packed day in Pacific Beach: Beach cruisers, boogie boards, beach towels, coolers, beach chairs, etc.

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Bedroom
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/bedroom-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-5.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Queen bed
                                    em Enjoy a good night’s sleep on a comfortable queen bed which include sheets, pillows, duvet with cover, extra blanket.

                                li
                                    strong 32" Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet, cable TV

                                li
                                    strong Convenient Stackable washer/dryer
                                    em 3.2 cu. ft. capacity washer and 5.9 cu. ft. capacity dryer. Complimentary detergent provided
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Bathroom
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/bathroom-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-4.jpg" class="img-responsive")


                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Shower / Toilet / Vessel Sink
                                    em Enjoy a hot shower after a long day at the beach.
                                li
                                    strong Washcloths, hand towels and bath towels provided.
                                li
                                    strong Complimentary toiletries included.
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Living Room
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/living-room-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/living-room-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/living-room-3.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Futon
                                    em Full size sleeper includes sheets, pillows and blanket
                                li
                                    strong 50” Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet and cable TV
                                li
                                    strong Portable Bluetooth Speaker
                                    em Simply connect via bluetooth and enjoy your music everywhere! We ask you DO NOT remove the speaker from the premises. A CD AM/FM boom box is also available.
                                li
                                    strong Ceiling fans, air conditioning and heater
                                    em Electricity is very expensive in California and therefore, we ask that you turn the A/C off when you leave the cottage. Close all doors and windows before operating the A/C unit.
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Kitchen
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/kitchen-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-3.jpg" class="img-responsive")
                                //- .item
                                //-     img(src="/img/features-items/kitchen-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-6.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-7.jpg" class="img-responsive")


                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Fully equipped kitchen includes:
                                    em Ice maker refrigerator/freezer, dishwasher, stove, microwave, silverware, dishware, cookware, basic cooking utensils and small appliances.
                                li
                                    strong Complimentary coffee, teas and condiments provided.
                                    em Guests are encouraged to leave unused non-perishable food items in the pantry for other guest to enjoy (spices, etc.)
                                li
                                    strong Basic cleaning supplies provided.
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Private Backyard
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/backyard-1.jpg" class="img-responsive")
                                //- .item
                                //-     img(src="/img/features-items/backyard-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-6.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Outdoor seating
                                li
                                    strong Propane BBQ
                                li
                                    strong Propane fire pit




                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Extra Features
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/extra-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/extra-2.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Local restaurant menu binder
                                li
                                    strong Books, board games, playing cards
                                li
                                    strong Friendship Gate - Special Feature!
                                    em In the courtyard, you will notice a gate in the fence that separates the Cottages. It is a Friendship Gate. It might be the sweet sound of music, or the delectable smell of sizzling steaks on the grill that starts the conversation over the fence. Feel free to ‘Open The Gate’.<br> Remember the Friendship Gate can only be opened if both sides are in agreement (there’s a latch on both sides). <br>Or maybe you are here to enjoy a little quiet relaxation, in which case keep the gate locked and enjoy!


        .singleCallout
            .container
                .row
                    .col-sm-8.col-sm-offset-2
                        a.singleCallout__btn.btn.btn-orange(href="https://www.airbnb.com/rooms/19663998" target="reddoor") Book Now on AirBnB

        section.singleAbout
            .container
                .sectionHeading <span>A</span>bout the <span>C</span>ottage
                .row
                    .col-sm-8
                        .singleAbout__desc
                            p This <strong>1 bed 1 bath</strong> pristine cottage, offers resort style accommodations for <strong>1-4 guests</strong> (i.e. 2 adults/2 kids) in the heart of <strong>Pacific Beach in San Diego</strong>. A comfortable QUEEN size bed adorns the bedroom and a futon (size: FULL) is in the living room. The cottage accommodates four people if the FULL size futon is agreeable.
                            p Features include:
                            p A comfortable <strong>queen bed</strong> adorns the bedroom and a full size  <strong>futon</strong> is in the living room. The <strong>modern kitchen</strong> includes: dishwasher, garbage disposal, refrigerator/freezer with ice maker, microwave, range, dishes, pots, pans and cutlery.
                            p A stackable <strong>washer/dryer</strong> is provided with complimentary detergents. The luxurious bathroom has a shower stall, toilet and vessel sink. Complimentary toiletries are included. Towels and sheets are provided. The <strong>private back yard</strong> hosts a propane grill, as well as an outdoor propane fire pit for cooler evenings.
                            p Guests can enjoy cable TV on either of the two <strong>smart TVs</strong>. Internet service is included. A portable <strong>bluetooth speaker</strong> is provided for your indoor/outdoor enjoyment. The speaker is not to be  removed from the premises.
                            p The outdoor ‘ToyBox’ is located in the private courtyard and provides guests with all the ‘toys’ for a fun day in Pacific Beach; <strong>beach cruisers</strong> and locks, <strong>boogie boards</strong>, beach towels, coolers and <strong>beach chairs</strong>.
                    .col-sm-4
                        ul.singleAbout__list
                            li <strong>Perfect for 1-4 persons:</strong>
                            li Couples
                            li Couple with young child
                            li Weekenders
                            li Getaways/Staycation
                            li Overflow house guests
                            li Adventurers
                            li Wedding guests
                            li Corporate living & Traveling Nurses

        .singleCallout
            .container
                .row
                    .col-sm-8.col-sm-offset-2
                        a.singleCallout__btn.btn.btn-orange(href="https://www.airbnb.com/rooms/19663998" target="reddoor") Book Now on AirBnB

        section.singleRules
            .container
                .sectionHeading <span>C</span>ottage <span>R</span>ules, <span>C</span>heck-in <span>I</span>nstructions <br>& <span>D</span>eparture <span>C</span>hecklist

                .row
                    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                        .singleRules__desc
                            p Cottage Rules are provided to ensure that Guests and Visitors know and comply with the specific rules governing their permission to enter and occupy the Cottage.
                    .col-sm-12
                        a(class="singleRules__link" href="/pdf/rules.pdf" target="rules") <span>Click Here to View</span> Cottage <br>Rules

                        a(class="singleRules__link" href="/pdf/check-in-instructions.pdf" target="check-in") <span>Click Here to View</span> Check-in Instructions

                        a(class="singleRules__link"  href="/pdf/departure-checklist.pdf" target="departure") <span>Click Here to View</span> Departure Checklist


















