extends layout

block content
  main.charity
        .container
            h2.sectionHeading <span>F</span>undraising
            .row
                .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1

                    .charity__desc
                        p We all hear of people or groups in the community facing difficult times and desperately trying to raise needed funds. Unfortunately as much as we would like, we realize we are unable to give to every cause.
                        p We have developed a unique way to help non-profit organizations and causes raise those needed funds.

                    .charity__callout The cottages are perfect prizes for raffle and silent auction fundraising.

            .row.charity__images
                .col-sm-10.col-sm-offset-1
                    .row
                        .col-sm-4
                            img(src="/img/features-items/living-room-1.jpg" class="img-responsive")
                        .col-sm-4
                            img(src="/img/features-items/kitchen-1.jpg" class="img-responsive")
                        .col-sm-4
                            img(src="/img/features-items/bedroom-1.jpg" class="img-responsive")

            .row
                .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1

                    h3.charity__howdoesitwork How Does it Work? <span>It's easy:</span>

                    ul.charity__list
                        li Your group sells raffle tickets at $10 and up (you decide).
                        li The winner receives 2 NIGHTS STAY* for 2 at the Cottage
                        li *Winner pays cleaning fee
                        li Group agrees to retain a $200.00 security deposit to be used ONLY in the event of damage to the Cottage caused by Winner
                        //- li We do have a mortgage, therefore, we will accept nightly donations!

                    //- .charity__callout Fundraising possibilities are endless

                    //- table.table
                    //-     tbody
                    //-         tr
                    //-             td Sell 50 raffle tickets at $25.00 each
                    //-             td $1,250.00
                    //-         tr
                    //-             td Sell 100 raffle tickets at $25.00 each
                    //-             td $2,500.00
                    //-         tr
                    //-             td Sell 200 raffle tickets at $25.00 each
                    //-             td $5,000.00
                    //-         tr
                    //-             td Sell 500 raffle tickets at $25.00 each
                    //-             td $12,500.00

                    //- table.table
                    //-     tbody
                    //-         tr
                    //-             td Sell 50 raffle tickets at $50.00 each
                    //-             td $2,500.00
                    //-         tr
                    //-             td Sell 100 raffle tickets at $50.00 each
                    //-             td $5,000.00
                    //-         tr
                    //-             td Sell 200 raffle tickets at $50.00 each
                    //-             td $10,000.00
                    //-         tr
                    //-             td Sell 500 raffle tickets at $50.00 each
                    //-             td $25,000.00

                    .charity__contact
                        strong Fundraising possibilities are endless
                        p Interested? Please contact us:
                        a(href="mailto:pacificbeachvacations@gmail.com") pacificbeachvacations@gmail.com

                    //- .row
                    //-     .col-sm-6
                    //-         img(src="/img/red-door.jpg" class="img-responsive")
                    //-     .col-sm-6
                    //-         img(src="/img/blue-door.jpg" class="img-responsive")

                    //- .row
                    //-     .col-sm-6
                    //-         .unititem
                    //-             img(src="/img/red-door.jpg" class="img-responsive center-block")
                    //-             h2.unititem__title Resort Style Cottage Getaway
                    //-             div.unititem__address Balboa Avenue <br>San Diego, CA 92109

                    //-     .col-sm-6
                    //-         .unititem
                    //-             img(src="/img/blue-door.jpg" class="img-responsive center-block")
                    //-             h2.unititem__title Resort Style Cottage
                    //-             div.unititem__address Balboa Avenue <br>San Diego, CA 92109


                    .charity__back
                        a(href="/") < Back to Homepage

