extends layout

block content
  main.single
        section
            .container
                .row
                    .col-md-10.col-md-offset-1
                        .singleMain
                            h2.singleMain__title Family Getaway Cottage
                            div.singleMain__address Grand Avenue <br>San Diego, CA 92109
                            img(src="/img/grand-family-full.jpg" class="singleMain__img img-responsive center-block")
                            a.singleMain__btn.btn.btn-orange(href="https://www.airbnb.com/rooms/23539676" target="grand-family") Book Now on AirBnB
                            p.singleMain__desc This beautiful 2 bed/1 bath resort style cottage is perfect for up to 6 guests (1 QUEEN, 1 FULL &amp; 1 QUEEN sofa bed). A/C &amp; Heating. Just 3 blocks to the beach. Family friendly with tons of extra amenities: board games, bikes, wagon, boogie boards, beach chairs/towels, cooler. Kitchen includes modern appliances, pans, dishware etc. Quality linens/towels. Stackable washer/dryer. Smart TVs. Cable and internet. Private yard includes outdoor shower, BBQ, firepit and patio seating. Designated parking included.

        section.singleFeatures
            .container
                .sectionHeading <span>C</span>ottage <span>F</span>eatures

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Private Courtyard
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-6.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/courtyard-7.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Keyless entry
                                    em No need for keys here. Just remember your code.

                                li
                                    strong Outdoor furniture
                                    em Relax in the sun or shade on comfortable outdoor furniture

                                li
                                    strong Outdoor shower
                                    em Rinse the sand off after a day at the beach

                                li
                                    strong Herb garden
                                    em Pick from a variety of herbs in our herb garden

                                li
                                    strong Toy Box
                                    em Filled with everything you could need for a fun packed day in Pacific Beach: Beach cruisers, boogie boards, beach towels, coolers, beach chairs, etc.

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Bedroom
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-large-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-large-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-large-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-large-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-large-6.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Queen bed
                                    em Enjoy a good night’s sleep on a comfortable queen bed which include sheets, pillows, duvet with cover, extra blanket.

                                li
                                    strong 32" Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet, cable TV

                                li
                                    strong Convenient Stackable washer/dryer
                                    em 3.2 cu. ft. capacity washer and 5.9 cu. ft. capacity dryer. Complimentary detergent provided

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Second Bedroom
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-small-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-small-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bedroom-small-3.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Queen bed
                                    em Enjoy a good night’s sleep on a comfortable queen bed which include sheets, pillows, duvet with cover, extra blanket.

                                li
                                    strong 32" Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet, cable TV

                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Bathroom
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/bathroom-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bathroom-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bathroom-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bathroom-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/bathroom-5.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Shower / Toilet / Vessel Sink
                                    em Enjoy a hot shower after a long day at the beach.
                                li
                                    strong Washcloths, hand towels and bath towels provided.
                                li
                                    strong Complimentary toiletries included.
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Living Room
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/living-room-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/living-room-2.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Queen Size Sofa Bed
                                    em Includes sheets, pillows and blanket
                                li
                                    strong 50” Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet and cable TV
                                li
                                    strong Portable Bluetooth Speaker
                                    em Simply connect via bluetooth and enjoy your music everywhere! We ask you DO NOT remove the speaker from the premises. A CD AM/FM boom box is also available.
                                li
                                    strong Ceiling fans, air conditioning and heater
                                    em Electricity is very expensive in California and therefore, we ask that you turn the A/C off when you leave the cottage. Close all doors and windows before operating the A/C unit.
                .featuresItem
                    .row
                        .col-md-12
                            h3.featuresItem__title Kitchen
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/kitchen-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/kitchen-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/kitchen-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/kitchen-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/kitchen-5.jpg" class="img-responsive")


                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong Fully equipped kitchen includes:
                                    em Ice maker refrigerator/freezer, dishwasher, stove, microwave, silverware, dishware, cookware, basic cooking utensils and small appliances.
                                li
                                    strong Complimentary coffee, teas and condiments provided.
                                    em Guests are encouraged to leave unused non-perishable food items in the pantry for other guest to enjoy (spices, etc.)
                                li
                                    strong Basic cleaning supplies provided.


                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Extra Features
                        .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/grand-family/extra-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/extra-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/extra-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/extra-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/grand-family/extra-5.jpg" class="img-responsive")

                        .col-md-7.col-md-offset-0.col-sm-10.col-sm-offset-1
                            ul.featuresItem__list
                                li
                                    strong One parking space included
                                li
                                    strong Local restaurant menu binder
                                li
                                    strong Books, board games, playing cards



        .singleCallout
            .container
                .row
                    .col-sm-8.col-sm-offset-2
                        a.singleCallout__btn.btn.btn-orange(href="https://www.airbnb.com/rooms/23539676" target="grand-family") Book Now on AirBnB

        //- section.singleRules
        //-     .container
        //-         .sectionHeading <span>C</span>ottage <span>R</span>ules, <span>C</span>heck-in <span>I</span>nstructions <br>& <span>D</span>eparture <span>C</span>hecklist

        //-         .row
        //-             .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        //-                 .singleRules__desc
        //-                     p Cottage Rules are provided to ensure that Guests and Visitors know and comply with the specific rules governing their permission to enter and occupy the Cottage.
        //-             .col-sm-12
        //-                 a(class="singleRules__link" href="/pdf/rules.pdf" target="rules") <span>Click Here to View</span> Cottage <br>Rules

        //-                 a(class="singleRules__link" href="/pdf/check-in-instructions.pdf" target="check-in") <span>Click Here to View</span> Check-in Instructions

        //-                 a(class="singleRules__link"  href="/pdf/departure-checklist.pdf" target="departure") <span>Click Here to View</span> Departure Checklist


















