extends layout

block content
  main.index
        section.indexMain
            .container
                .row
                    .col-sm-6
                        .unititem
                            h2.unititem__title.red Resort Style Cottage Getaway
                            img(src="/img/red-door.jpg" class="img-responsive")
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                            a.btn.btn-red.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor" ) Book Now on AirBnB
                    .col-sm-6
                        .unititem
                            h2.unititem__title.blue Resort Style Cottage
                            img(src="/img/blue-door.jpg" class="img-responsive")
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                            a.btn.btn-blue.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" ) Book Now on AirBnB
                .row
                    .col-sm-10.col-sm-offset-1
                        p.indexMain__desc These pristine 1 bed 1 bath resort-style cottages are located in the heart of Pacific Beach, San Diego. The two cottages are identical (except for the color of the door) and are available to rent separately or together.
                         p.indexMain__desc Each cottage accommodates up to 4 guests, with a comfortable queen size bed adorning the bedroom and a futon in the living room. They also feature a full kitchen and private backyard.
                          p.indexMain__desc Amenities include wifi, a washer and dryer, two smart TVs, a bluetooth speaker, and much more. The cottages are a short 1.5 mile walk away from the beach, and the rental includes bikes along with boogie boards, towels, and other beach necessities.

                        p.indexMain__more More info coming soon.
