extends layout

block content
  main.index
        section.indexMain
            .container
                .row
                    .col-sm-6
                        .unititem
                            a(href="/balboa-red.html" class="unititemMain")
                                h2.unititem__title.orange Resort Style Cottage
                                div.unititem__address Balboa Avenue <br>San Diego, CA 92109

                                img(src="/img/red-door.jpg" class="img-responsive center-block")
                                ul.unititem__callouts
                                    li
                                        span
                                            div Sleeps <br> Up To 4
                                    li
                                        span
                                            div 1 Bed /<br> 1 Bath
                                    li
                                        span
                                            div 1.5 Miles from Beach
                                div.unititem__learnmore.btn.btn-gray Learn More
                            a.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor" ) Book Now on AirBnB

                    .col-sm-6
                        .unititem
                            a(href="/balboa-blue.html" class="unititemMain")
                                h2.unititem__title.orange Resort Style Cottage
                                div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                                img(src="/img/blue-door.jpg" class="img-responsive center-block")

                                ul.unititem__callouts
                                    li
                                        span
                                            div Sleeps <br> Up To 4
                                    li
                                        span
                                            div 1 Bed /<br> 1 Bath
                                    li
                                        span
                                            div 1.5 Miles from Beach
                                div.unititem__learnmore.btn.btn-gray Learn More
                            a.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" ) Book Now on AirBnB
                    .col-sm-6
                        .unititem
                            a(href="/grand-family.html" class="unititemMain")
                                h2.unititem__title.orange Family Getaway Cottage
                                div.unititem__address Grand Avenue <br>San Diego, CA 92109

                                img(src="/img/grand-family.jpg" class="img-responsive center-block")
                                ul.unititem__callouts
                                    li
                                        span
                                            div Sleeps <br> Up To 6
                                    li
                                        span
                                            div 2 Bed /<br> 1 Bath
                                    li
                                        span
                                            div 0.4 Miles from Beach
                                div.unititem__learnmore.btn.btn-gray Learn More
                            a.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/23539676" target="grand-family" ) Book Now on AirBnB

                    .col-sm-6
                        .unititem
                            a(href="/grand-beach.html" class="unititemMain")
                                h2.unititem__title.orange Beach Getaway Cottage
                                div.unititem__address Grand Avenue <br>San Diego, CA 92109

                                img(src="/img/grand-beach.jpg" class="img-responsive center-block")
                                ul.unititem__callouts
                                    li
                                        span
                                            div Sleeps <br> Up To 4
                                    li
                                        span
                                            div 1 Bed /<br> 1 Bath
                                    li
                                        span
                                            div 0.4 Miles from Beach
                                div.unititem__learnmore.btn.btn-gray Learn More
                            a.btn.btn-orange.unititem__btn(href="https://www.airbnb.com/rooms/24022164" target="grand-beach" ) Book Now on AirBnB

        section.indexHood
            .container
                .sectionHeading <span>A</span>bout the <span>N</span>eighborhood
                ul.indexHood__photos
                    li.hidden-xs
                        img(class="indexHood__img img-responsive center-block" src="/img/pb-neighborhood-1.jpg")
                    li
                        img(class="indexHood__img img-responsive center-block" src="/img/pb-neighborhood-4.jpg")
                    li.hidden-xs
                        img(class="indexHood__img img-responsive center-block" src="/img/pb-neighborhood-3.jpg")
                    .row
                        .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
                            .indexHood__desc
                                p Discover the ‘Best of Pacific Beach.’ <strong>Garnet Avenue</strong> has everything you could ask for: restaurants, bars, shops, hair/nail salons, grocery stores, you name it, Garnet Avenue has it all! Head west from your cottage and voila! ‘Door to Shore’ in minutes. You are at <strong>the beach</strong>. Enjoy!

                                p And if that isn’t enough, take an 11 min ride to the <strong>rollercoaster at Belmont Park</strong>, a 17 min ride and enjoy <strong>Mission Bay</strong>, hang with ocean mammals after just a 9 min drive to <strong>SeaWorld</strong>, or 12 mins takes you to the world class <strong>San Diego Zoo</strong> and in just 38 mins you could be in <strong>Tijuana, Mexico</strong> (remember your passport).


        .container
            .row
                .col-md-6
                    section.indexLongterm
                        .indexLongterm__title <span>Also Available For:</span> Long-Term Rentals
                        .indexLongterm__desc
                            div
                                p The Cottages are also available for long-term rentals.
                                p Please contact us directly for long-term rental inquiries.

                        a(class="indexLongterm__link" href="mailto:pbcorporateliving@gmail.com") pbcorporateliving@gmail.com
                .col-md-6
                    section.indexCharity
                        .indexCharity__title <span>Also Available For:</span> Fundraising

                        .indexCharity__desc
                            div
                                p We all hear of people or groups in the community facing difficult times and desperately trying to raise needed funds. Unfortunately as much as we would like, we realize we are unable to give to every cause.
                                p We have developed a unique way to help non-profit organizations and causes raise those needed funds.
                        a(class="indexCharity__link" href="/fundraising.html") Click Here to Learn More














