doctype html
html

  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='description', content='These pristine 1 bed 1 bath resort-style cottages are located in the heart of Pacific Beach, San Diego. The two cottages are identical (except for the color of the door) and are available to rent separately or together.')
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Quicksand:400,700" rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='../css/styles.css')

    title The Pacific Beach Cottages




  body
    include ./includes/_header.jade

    block content

    include ./includes/_footer.jade

    script(src="/js/jquery.min.js")
    script(src='/js/bootstrap.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/functions.js')
