header.header
    .container
      .row
        h1
            a(href="/")
                img(src="/img/palm-tree.svg")
                <span>P</span>acific <span>B</span>each <span>C</span>ottages
                img(src="/img/palm-tree.svg")
