.unititem {
    margin-bottom: 15px;
    border-radius: 25px;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 4px solid $white;
    }

    &Main {
        text-decoration: none;
        background: rgba(255,255,255,0.7);
        display: block;
        border: 10px solid $white;
        padding: 5px 5px 80px 5px;
        border-radius: 25px;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $black;
            background: rgba(255,255,255,0.9);

            .unititem__learnmore {
                background: $gray-dark;
            }
        }
    }

    &__callouts {
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;

        li {
            display: inline-block;
            border: 2px solid;
            padding: 3px 8px;
            margin: 0 5px;
            width: 120px;
            height: 80px;
            background: $white;

            & > span {
                display: table;
                width: 100%;
                height: 100%;

                & > div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

        }
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        margin-top: 0;

        @media (max-width: $screen-sm-max) {
            font-size: 25px;
        }
    }

    img {
        margin-bottom: 20px;
    }

    &__address {
        margin-bottom: 15px;
    }

    &__learnmore {
        font-size: 18px;
        width: 390px;
    }

    &__btn {
        font-size: 18px;
        width: 390px;
        margin-top: -130px;

        // display: block;
        // border-radius: 0 0 25px 25px;
    }

    .btn {
        border: 2px solid $black;
    }
}
